// Styles for Search Results Component

main.search-container {
    position  : relative;
    grid-area : main;
    overflow-y: scroll;
    height    : 90vh;
    box-shadow: -20x 0px 20px rgba(75, 54, 54, 0.2);

    section.search-results {
        padding: 0 2.5em 2.5em;

        display              : grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows   : auto;
        grid-auto-flow       : dense;
        grid-gap             : 1em;

        height    : auto;
        overflow-y: visible;
    }

    h4.section-title {
        padding: 0 2em;
        margin : 1em 0;
    }

    .search-msg {
        position       : absolute;
        width          : 100%;
        height         : 76%;
        left           : 0;
        top            : 0;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;

        h5,
        h4,
        h3 {
            margin-top: -4%;
        }
    }

    // Results Cards
    .section-title,
    h5,
    h4 {
        grid-column: 1/-1;
    }

    .result-card {
        .result-card-content {
            width: 100%;
            height: 100%;
            h5 {
                margin-bottom: 0.2em;
                text-transform: capitalize;
            }

            p {
                margin: 0;
            }

            
        }
    }
}