// Styles for Login Page
.login-page {
    display       : flex;
    flex-direction: row;
    align-items   : stretch;
    height        : 100%;

    background: url(/assets/img/bg-bar.png) center center no-repeat,
        url(/assets/img/bg.jpg) center center no-repeat;
    background-size: 100% 32%, cover;

    .col {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo{
            width: auto;
            height: 16%;
        }

        .login-card{
            width: 54%;
            height: 60%;

            background: #FFF;
            box-shadow: 0 2px 52px 4px rgba(0, 0, 0, 0.2);
            border: solid 1px #d2d2d2;

            padding: 30px;

            .login-form{
                padding: 20px;
            }
        }
    }
}