.App {
    overflow: hidden;
}

.layout-default::after {
    content        : "";
    background     : url(/assets/img/search-bg.jpg) 0em top no-repeat;
    background-size: 82% 100%;
    opacity        : 1;
    top            : 0;
    left           : 0;
    bottom         : 0;
    right          : 0;
    position       : absolute;
    z-index        : -1;
}

.layout-default {
    // background: url(/assets/img/search-bg.jpg) 0em top no-repeat;
    // background-size: 82% 100%;
    position             : relative;
    display              : grid;
    grid-template-columns: 5fr 1.4fr;
    grid-template-rows   : minmax(60px, auto) 1fr;
    grid-template-areas  : "header aside"
        "main aside"
        "main aside";
    overflow: hidden;
    height  : 100vh;

    aside.profile {
        grid-area : aside;
        background: #f1f4f7;
    }
}