.App {
    overflow: hidden;
}

.layout-default {
    background: url(/assets/img/search-bg.jpg) 0em top no-repeat;
    background-size: 84% 100%;
    display              : grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows   : minmax(0, 80px) 1fr;
    grid-row-gap         : 1.2em;
    grid-template-areas  : "header aside"
        "main aside"
        "main aside";
    overflow: hidden;
    height: 100vh;

    header {
        grid-area    : header;
        padding      : 0 2em;
        height       : 7.2em;
        // box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        background   : transparent;

        display        : flex;
        justify-content: space-between;
        align-items    : center;

        transition: 0.8s;

        img {
            display: block;
            padding: 0.5em 2em;
            margin : 0;
            width  : 12em;
            height : 100%;
        }

        input {
            width        : 100%;
            margin       : 0 2em;
            line-height  : 2em;
            font-size    : 1.1em;
            border-radius: 3em;
            padding      : 0.6em 2em;
            box-shadow   : 0 0 26px rgba(0, 0, 0, 0.1);
            border       : solid 1px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
        }

        input:focus{
            box-shadow   : 0 0 26px rgba(36, 131, 264, 0.26);
            transition: 0.3s;
        }
    }

    header.close {
        grid-area : header;
        height    : 80px;
        transition: 0.8s;
    }

    aside {
        grid-area: aside;
    }

    .content {
        grid-area : main;
        overflow-y: scroll;
        height    : 86vh;

        main {
            padding: 2.5em;

            display              : grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows   : repeat(12, 200px);
            grid-auto-flow       : dense;
            grid-gap             : 1em;

            height    : auto;
            overflow-y: visible;

            h3 {
                padding    : 2em;
                margin     : 0;
                box-shadow : 0 0 12px rgba(0, 0, 0, 0.15);
                grid-column: span 4;
            }

            h3:nth-child(1) {
                grid-column: span 8;
                grid-row   : span 2;
            }

            h3:nth-child(n+7) {
                grid-column: span 6;
            }

            // h3:last-child{
            //     opacity: 0;
            //     padding: 0.3em;
            // }

            h1 {
                grid-column: span 12;
            }
        }
    }



    footer {
        grid-area: footer;
        padding  : 1em;
    }
}