// Loading Progress component styles

.loading-progress {
    position       : absolute;
    display        : flex;
    flex-direction: column;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
    background     : rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(2px);
    color          : #5b6578;
    left           : 0;
    top            : 0;

    img{
        margin-bottom: 0.5em;
        width: 3em;
        height: auto;
    }
}