// Styles for user profile

.user-profile {
    position       : relative;
    padding        : 2.5em;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    overflow-y     : auto;


    h5 {
        margin   : 0;
        font-size: 1em;
    }

    h4 {
        font-size: 1.4em;
        margin   : 0;
    }

    .separator {
        display   : block;
        height    : 1px;
        width     : 100%;
        margin    : 0.8em 0;
        background: rgba(0, 0, 0, 0.15);
    }

    main {
        .profile-pic {
            width        : 98px;
            height       : 98px;
            background   : sandybrown;
            border-radius: 50%;
            box-shadow   : 0px 0px 12px rgba(75, 54, 54, 0.1);
            margin       : 0 auto;
            margin-bottom: 0.8em;
        }

        .profile-name {
            text-align: center;
        }

        .profile-details {
            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: space-between;
            margin         : 0;

            h5,
            p {
                width  : 50%;
                margin : 0.4em 0;
                padding: 0 0.4em;
            }

            h5 {
                text-align    : left;
                text-transform: uppercase;
                font-size     : 1em;
                font-weight   : 500;
            }

            p {
                text-transform: capitalize;
                text-align    : right;
            }
        }
    }

    footer {
        button {
            border-radius: 20px;
            border       : solid 1px #69a6f5;
            box-shadow   : 0 2px 28px rgba(36, 131, 264, 0.36);
            padding      : 0.48em 2.4em;
        }

        button:focus {
            outline   : 0 !important;
            box-shadow: none !important;
        }
    }
}