/*
* Styles for the app and pages. When the app scales, styles will be moved to individual files.
*/

/* GLOBAL
--------------------------------------------- */
html,
body, #root, .App {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    * {
        box-sizing: border-box;
    }
}

/* SEARCH PAGE
--------------------------------------------- */
.search-page {
    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        max-height: 120px;
        position: sticky;
        padding: 1em;
        margin: 0;

        background: #FFF;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    }
}