/*
* Styles for the app and pages. When the app scales, styles will be moved to individual files.
*/

/* Global Variables
--------------------------------------------- */
$color-white     : #FFFFFF;
$color-light     : #d2d2d2;
$color-blue      : #0771f9;
$color-blue-1    : rgba(36, 131, 264, 0.36);
$color-blue-light: #69a6f5;
$color-text      : #5b6578;


$rounded-sm: 6px;
$rounded-lg: 20px;

$padding-md: 0.48em;
$padding-lg: 1.2em;

$text-normal: 0.9em;


/* GLOBAL
--------------------------------------------- */
html,
body,
#root,
.App {
    padding: 0;
    margin : 0;
    width  : 100%;
    height : 100%;
    color  : $color-text;

    * {
        box-sizing: border-box;
    }

    // a,
    // p {
    //     font-size  : 1.16em;
    //     font-weight: 400;
    //     color      : $color-text;
    // }

    a {
        text-decoration: none;
    }

    .global-errors {
        position   : absolute;
        left       : 2em;
        bottom     : 2em;
        width      : calc(71%);
        background : red;
        padding    : 1em;
        color      : #FFF;
        font-size  : 1.1em;
        font-weight: 500;
        text-align : center;
        border-radius: 6px;
    }
}

/* CUSTOM SCROLL BAR
--------------------------------------------- */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background   : rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}


/* Form Elements
--------------------------------------------- */
label {
    display      : block;
    width        : 100%;
    font-weight  : 400;
    font-size    : 1.2em;
    margin-bottom: 0.15em;
}

input[type=text],
input[type=password],
input[type=search] {
    display      : block;
    width        : 100%;
    border       : solid 1px $color-light;
    border-radius: $rounded-sm;
    padding      : $padding-md;
    margin       : 0.5em 0;

    outline  : none;
    font-size: $text-normal;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder {
    font-size: 0.9em;
    opacity  : 0.7;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus {
    border    : solid 1px $color-blue;
    box-shadow: 0 0 12px $color-blue-1;
}

button {
    outline         : none;
    padding         : $padding-md $padding-lg;
    background-color: $color-blue;
    border          : solid 1px $color-blue-light;
    box-shadow      : 0 2px 28px $color-blue-1;
    color           : $color-white;
    font-weight     : 600;
    border-radius   : $rounded-lg;
}

button:focus {
    outline   : 0 !important;
    box-shadow: none !important;
}